* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	width: auto;
}

:root {
	--theme-color: rgba(157, 167, 93, 1);
}

/* -----SIDE BAR----- */
.wrapper {
	display: flex;
	flex-direction: row;
	margin: 30px;
	gap: 30px;
}

.SidebarWrapper {
	width: 300px;
	height: auto;
	position: relative;
}

.Sidebar {
	width: 300px;
	height: 900px;
	/* background-color: var(--theme-color); */
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
}
.Sidebar_Logo {
	padding: 20px 0;
}

.Sidebar_Logo img {
	height: 60px;
	width: 180px;
}

.Sidebar_CntWrapper {
	width: 300px;
	height: 800px;
	background-color: var(--theme-color);
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	padding-top: 30px;
	box-shadow: 2px 2px 3px rgb(26, 26, 26);
}
.Sidebar_Nav {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
}

.Sidebar_NavButton {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
}

.Sidebar_Nav_Icon {
	height: min-content;
}

.Sidebar_NavButton i {
	font-size: 30px;
}

.Nav a {
	text-decoration: none;
	color: black;
}

.Sidebar_Admin {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
	border-top: 2px solid rgb(54, 54, 54);
	padding-top: 20px;
}

.Sidebar_Admin_Tittle p {
	font-size: 19px;
	font-weight: 500;
}

.Sidebar_Admin_Nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Sidebar_Admin_NavButton {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.Admin_Activities_Font {
	font-weight: 500;
}
.Admin_Activities_Icon {
	font-size: 19px;
	font-weight: 600;
}

.Nav_GlowEffects {
	border-radius: 50px;
	padding: 5px 0 5px 20px;
	cursor: pointer;
}

.Nav_GlowEffects:hover {
	box-shadow: 2px 2px 2px rgb(26, 26, 26);
	background-color: rgb(117, 139, 64);
}

/* THE BLOCKKKKKKKKKKKKKKKK */

/* ---------- CONTENT ---------- */

.Content_Wrapper {
	display: flex;
	flex-direction: row;
	gap: 40px;
}
.TheBlock {
	width: 300px;
}

.Content {
	width: 1450px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.Content_Main {
	width: 100%;
	height: 700px;
}

/* .Content_Main_Tittle {
	background-color: var(--theme-color);
	width: 500px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.Content_Main_Tittle b {
	font-size: 20px;
	font-weight: 500;
} */

/* TABLEEEEEEEEEEE */

.Content_Main_Body_Table {
	height: auto;
	background-color: #ffffff;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.Content_Main_Body_Table_Container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-left: 50px;
}

.Table_Container_Tittle {
	width: 1300px;
	padding-left: 15px;
}
.Table_Container_Tittle b {
	font-size: 23px;
	font-weight: 600;
}

.ScrollDIV {
	width: auto;
	height: 450px;
	overflow: hidden;
	overflow-y: auto;
}

.ScrollObj {
	width: 1300px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin: 10px;
}

.Table_Container_TheTable {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* padding-left: 50px; */
}

.TheTable_Tittles {
	background-color: var(--theme-color);
	font-weight: 700;
	font-size: 17px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	height: 45px;
	align-items: center;
	/* background-color: #ffffff; */
	border-radius: 30px;
	box-shadow: 2px 2px 5px #777777;
	padding-left: 50px;
	margin-left: 10px;
	width: 1200px;
}

.row {
	width: 1200px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	height: 45px;
	align-items: center;
	/* background-color: #ffffff; */
	border-radius: 30px;
	box-shadow: 0px 0px 5px #777777;
	padding-left: 50px;
}

.row b {
	font-weight: 500;
}

.col {
	width: 200px;
	text-align: center;
}

.col_ID {
	width: 150px;
	text-align: center;
}

/* The FOOTER */
.Footer {
	height: 300px;
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	text-align: justify;
	text-justify: inter-character;
	align-items: center;
	/* border-top: 2px rgb(190, 190, 190) solid; */
	border-radius: 30px;
	box-shadow: 2px -2px 5px #777777;
}

.Footer_Brand {
	width: 1200px;
}
/* 
.Footer_Brand b {
	font-size: 30px;
	font-weight: 800;
} */
.Footer_Brand img {
	height: 60px;
	width: 200px;
}

.Footer_Contents {
	/* align-self: center; */
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	gap: 30px;
	width: 1200px;
}

.Footer_Contents_Brand {
	width: 40%;
}
.Footer_Contents_Denal {
	border-left: 2px #cecece solid;
	padding-left: 30px;
	/* border-style: ; */
	width: 35%;
}

.Footer_Contents_Contact {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.Footer_Contents_Contact_Content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 18px;
}

.Footer_Contents_Contact_PhoneLink {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.Footer_Contents_Contact_Email {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.Footer_Contents_Social {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.Footer_Contents_Contact_Tittle b {
	font-size: 20px;
}

.Footer_Contents_Social_Content {
	display: flex;
	flex-direction: row;
	gap: 8px;
	font-size: 18px;
}
.Footer_Logo_Sizing {
	font-size: 30px;
	font-weight: 900;
}

.Footer_Contents_Denal_Tittle b {
	font-size: 20px;
}
.Footer_Contents_Social_Tittle {
	font-size: 20px;
}
