* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	width: auto;
}

:root {
	--theme-color: rgba(157, 167, 93, 1);
}

/*-------- HEADER -------- */
.Header {
	width: 100%;
	height: 55px;
	/* background-color: rgb(136, 187, 187); */
	display: flex;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 2px 2px 2px #7c7c7c;
	position: fixed;
	top: 0;
	background-color: white;
}

/*---- HEADER LOGO---- */
.Header_Logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	/* font-weight: 900;
	font-size: larger;
	font-size: 32; */
}
.Logo_container img {
	margin-top: 12px;
	height: 30px;
	width: 100px;
	font-family: "Poppins", sans-serif;
}

/*---- HEADER Navigation ---- */

.Header_Navigation {
	display: flex;
	align-items: center;
	padding-left: 30px;
	flex-direction: row;
	gap: 50px;
	font-weight: 550;
	font-size: 20;
	width: 70%;
}

.Nav a {
	text-decoration: none;
	color: black;
}

/*---- HEADER Cart ---- */
.Header_Sign_Cart {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	width: auto;
	padding-right: 20px;
}

.Sign_In_Up {
	width: 120px;
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 2px 10px;
	height: 30px;
	background-color: var(--theme-color);
	border-radius: 15px;
	font-size: 15px;
}
.Header_Sign_In b {
	font-weight: 500;
}
.Header_Sign_Up b {
	font-weight: 500;
}

.Header_Cart_In {
	height: 30px;
	background-color: var(--theme-color);
	padding: 6px 20px 2px 20px;
	border-radius: 100px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

/* ------ BODYYY ------ */

.Body {
	height: 900px;
	width: auto;
	padding: 150px 0px 100px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

/* ---STATES--- */
.Body_States {
	height: 100px;
}

.Body_States_Container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
.Round_Spot {
	background-color: #d8d8d8;
	height: 30px;
	width: 30px;
	border-radius: 100px;
}

.Body_States_Line {
	width: 200px;
	height: 50px;
	border-top: #d8d8d8 3px solid;
}
.The_Main_Line {
	width: 200px;
	height: 50px;
	border-top: var(--theme-color) 3px solid;
}

.The_Main_Spot {
	background-color: var(--theme-color);
	height: 30px;
	width: 30px;
	border-radius: 100px;
}

.State {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

/* --- Content --- */
.Body_Contents {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Body_Contents_Container {
	height: 600px;
	width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	background-color: #f8f8f8;
	box-shadow: 0px 0px 5px #b3b3b3;
	border-radius: 10px;
}
.Body_Contents_Tittle {
	width: 630px;
}

.Body_Contents_Tittle b {
	font-size: 32px;
	font-weight: 600;
}

/* Scrowbar */
.ScrollDIV {
	width: auto;
	height: 300px;
	overflow: hidden;
	overflow-y: auto;
}

.ScrollObj {
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
/* Scrowbar */

.Body_Contents_Stuffs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	height: 355px;
	width: 650px;
}

.Body_Contents_Stuff {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	background-color: #eeeeee;
	box-shadow: 2px 2px 2px #7c7c7c;
	width: 600px;
	border-radius: 10px;
	padding: 15px 35px;
}
.Body_Contents_Stuff_NameQuantity {
	width: 50%;
}
.Body_Contents_Stuff_Cost {
	width: 50%;
	display: flex;
	flex-direction: row-reverse;
}

.Body_Contents_Total {
	width: 600px;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}
.Body_Contents_Total_Tittle {
	width: 50%;
}
.Body_Contents_Total_Cost {
	width: 50%;
	margin-left: 450px;
}

.Body_Contents_Continues {
	background-color: var(--theme-color);
	padding: 10px 80px;
	border-radius: 5px;
	margin-left: 365px;
}

/* -------FOOTER--------- */

.Footer {
	height: 300px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	text-align: justify;
	text-justify: inter-character;
	align-items: center;
	/* border-top: 2px rgb(190, 190, 190) solid; */
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 2px -2px 5px #777777;
}

.Footer_Brand {
	width: 1200px;
}
/* 
.Footer_Brand b {
	font-size: 30px;
	font-weight: 800;
} */
.Footer_Brand img {
	height: 60px;
	width: 200px;
}

.Footer_Contents {
	/* align-self: center; */
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	gap: 30px;
	width: 1200px;
}

.Footer_Contents_Brand {
	width: 40%;
}
.Footer_Contents_Denal {
	border-left: 2px #cecece solid;
	padding-left: 30px;
	/* border-style: ; */
	width: 35%;
}

.Footer_Contents_Contact {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.Footer_Contents_Contact_Content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 18px;
}

.Footer_Contents_Contact_PhoneLink {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.Footer_Contents_Contact_Email {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.Footer_Contents_Social {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.Footer_Contents_Contact_Tittle b {
	font-size: 20px;
}

.Footer_Contents_Social_Content {
	display: flex;
	flex-direction: row;
	gap: 8px;
	font-size: 18px;
}
.Footer_Logo_Sizing {
	font-size: 30px;
	font-weight: 900;
}

.Footer_Contents_Denal_Tittle b {
	font-size: 20px;
}
.Footer_Contents_Social_Tittle {
	font-size: 20px;
}
