* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	width: auto;
}
:root {
	--theme-color: rgba(157, 167, 93, 1);
}
.Body_container {
	height: 965px;
	width: 1440;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.Main_Pic {
	width: 35%;
}
.Main_Pic img {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 100%;
	height: 100%;
	box-shadow: 5px 2px 15px rgb(134, 134, 134);
}

.Main_Content {
	width: 65%;
	display: flex;
	flex-direction: column;
}

.Main_Content_Remind {
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: 15%;
	padding: 25px 25px 0 0;
	justify-content: end;
	font-weight: 500;
}

.Main_Content_Remind_Button b {
	color: var(--theme-color);
	border: 1px solid var(--theme-color);
	border-radius: 8px;
	padding: 5px 10px;
	height: auto;
	font-weight: 500;
}

/* ------------------- */

.Main_Content_Filling {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70%;
	gap: 20px;
}

.Main_Content_Filling_Tittle {
	display: flex;
	padding-bottom: 10px;
	width: 500px;
	font-size: 32px;
}
/* NAMEEEEEEEE */
.Main_Content_Filling_Name {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 500px;
}
.Main_Content_Filling_FullName {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.Main_Content_Filling_UserName {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.Name_Filling_Box input {
	background-color: rgb(233, 233, 233);
	height: 40px;
	width: 100%;
	border-radius: 7px;
	border: none;
	padding-left: 15px;
}
/* NAMEEEEE-ENDDD */

.Filling_Box input {
	background-color: rgb(233, 233, 233);
	height: 40px;
	width: 100%;
	border-radius: 7px;
	border: none;
	padding-left: 15px;
}
.Filling_Sub {
	font-size: 16px;
	font-weight: 500;
}

/* PHONEEEEEE */
.Main_Content_Filling_PhoneNum {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 500px;
}
/* PASSSSSSSSSS */
.Main_Content_Filling_Pass {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 500px;
}

/* CONFIRMATIONNNNNNNNNNNNN */
.Main_Content_Filling_Confir {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 500px;
}

.Main_Content_Filling_Ticker {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	width: 500px;
}
.Main_Content_Filling_TickerBox input {
	height: 20px;
	width: 20px;
	border-radius: 2px;
	background-color: rgb(233, 233, 233);
	border: none;
}
.Main_Content_Filling_TickerSub mark {
	background: none;
	color: var(--theme-color);
}

.Main_Content_Filling_Create {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 500px;
}

.Main_Content_Filling_Create b {
	background-color: var(--theme-color);
	padding: 12px 60px;
	border-radius: 7px;
}

/* ------------------- */

.Main_Content_Slogan {
	display: flex;
	flex-direction: column-reverse;
	height: 15%;
	padding: 0 0 40px 50px;
	font-weight: 600;
}

.Main_Content_Slogan p {
	font-family: "Satisfy", cursive;
	font-size: 19px;
}
.Nav a {
	text-decoration: none;
	color: black;
}
