* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	/* width: auto; */
}

:root {
	--theme-color: rgba(157, 167, 93, 1);
}

/*-------- HEADER -------- */
.Header {
	width: 100%;
	height: 55px;
	/* background-color: rgb(136, 187, 187); */
	display: flex;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 2px 2px 2px #7c7c7c;
	position: fixed;
	top: 0;
	background-color: white;
}

/*---- HEADER LOGO---- */
.Header_Logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	/* font-weight: 900;
	font-size: larger;
	font-size: 32; */
}
.Logo_container img {
	margin-top: 12px;
	height: 30px;
	width: 100px;
	font-family: "Poppins", sans-serif;
}

/*---- HEADER Navigation ---- */

.Header_Navigation {
	display: flex;
	align-items: center;
	padding-left: 30px;
	flex-direction: row;
	gap: 50px;
	font-weight: 550;
	font-size: 20;
	width: 70%;
}

.Nav a {
	text-decoration: none;
	color: black;
}

/*---- HEADER Cart ---- */
.Header_Sign_Cart {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	width: auto;
	padding-right: 20px;
}

.Sign_In_Up {
	width: 120px;
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 2px 10px;
	height: 30px;
	background-color: var(--theme-color);
	border-radius: 15px;
	font-size: 15px;
}
.Header_Sign_In b {
	font-weight: 500;
}
.Header_Sign_Up b {
	font-weight: 500;
}

.Header_Cart_In {
	height: 30px;
	background-color: var(--theme-color);
	padding: 6px 20px 2px 20px;
	border-radius: 100px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

/*-------- Body ---------*/
.Body {
	height: auto;
}

.Body_Delights {
	height: 800px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 100px;
}

.Body_Delights_Content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Body_Delights_Pics img {
	height: 542px;
	width: 1202px;
	border-radius: 40px;
}

.Body_Delights_Content_Theme b {
	font-family: "Satisfy", cursive;
	font-size: 70px;
}

.Body_Delights_Content_Buttons {
	height: 15px;
	width: 80px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.mySlides {
	display: none;
}
.Round_Button {
	cursor: pointer;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: rgb(180, 180, 180);
	display: inline-block;
}
.active,
.Round_Button:hover {
	background-color: var(--theme-color);
}

.Body_Delights_Content_Buy {
	width: 70%;
	background-color: var(--theme-color);
	padding: 8px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-top: 10px;
}

/* Product */

.Body_Products {
	height: auto;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	gap: 100px;
	/* align-items: center; */
	justify-content: center;
	padding-bottom: 100px;
}

/* Nav */

.Body_Product_Navigations {
	width: 280px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.Body_Products_Nav {
	height: 300px;
	background-color: rgb(250, 250, 250);
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #c7c7c7;
}

.Products_Nav_Tittle b {
	font-size: 32px;
	padding-left: 10px;
}

.Products_Nav_Buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 16px;
	font-weight: 600;
}
.Body_Products_Informations {
	padding: 0 10px;
	text-align: justify;
	text-justify: inter-character;
}

.Nav_Button {
	background-color: var(--theme-color);
	padding: 11px 60px;
	border-radius: 15px;
	cursor: pointer;
}

/* Product */

.Body_Products_List {
	background-color: rgb(255, 255, 255);
}

.ScrollDIV {
	width: auto;
	height: 500px;
	overflow: hidden;
	overflow-y: auto;
}

.ScrollObj {
	padding-right: 20px;
}

.Tea_Products {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.Tea_Product {
	background-color: rgb(250, 250, 250);
	width: 890px;
	height: 250px;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #c7c7c7;
}

.Tea_Product_Contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 40px;
}

.Tea_Product_Contents_TittlePrice {
	display: flex;
	flex-direction: row;
}

.Tea_Tittle {
	font-size: 18px;
	font-weight: 600;
	width: 50%;
}
.Tea_Price {
	display: flex;
	flex-direction: row-reverse;
	width: 50%;
}

.Tea_Product_Contents_Intro {
	padding-top: 30px;
	text-align: justify;
	text-justify: inter-character;
}

.Tea_Product_Contents_Add {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	background-color: var(--theme-color);
	width: 200px;
	padding: 8px 20px;
	border-radius: 10px;
}
.Tea_Product_Contents_Add b {
	font-weight: 600;
}

/* -------FOOTER--------- */

.Footer {
	height: 300px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	text-align: justify;
	text-justify: inter-character;
	align-items: center;
	/* border-top: 2px rgb(190, 190, 190) solid; */
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 2px -2px 5px #777777;
}

.Footer_Brand {
	width: 1200px;
}
/* 
.Footer_Brand b {
	font-size: 30px;
	font-weight: 800;
} */
.Footer_Brand img {
	height: 60px;
	width: 200px;
}

.Footer_Contents {
	/* align-self: center; */
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	gap: 30px;
	width: 1200px;
}

.Footer_Contents_Brand {
	width: 40%;
}
.Footer_Contents_Denal {
	border-left: 2px #cecece solid;
	padding-left: 30px;
	/* border-style: ; */
	width: 35%;
}

.Footer_Contents_Contact {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.Footer_Contents_Contact_Content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 18px;
}

.Footer_Contents_Contact_PhoneLink {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.Footer_Contents_Contact_Email {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.Footer_Contents_Social {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.Footer_Contents_Contact_Tittle b {
	font-size: 20px;
}

.Footer_Contents_Social_Content {
	display: flex;
	flex-direction: row;
	gap: 8px;
	font-size: 18px;
}
.Footer_Logo_Sizing {
	font-size: 30px;
	font-weight: 900;
}

.Footer_Contents_Denal_Tittle b {
	font-size: 20px;
}
.Footer_Contents_Social_Tittle {
	font-size: 20px;
}
